<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangfj.back.mapper.SysConfigMapper">
	<resultMap id="BaseResultMap" type="com.wangfj.back.entity.po.SysConfig">
		<id column="sid" property="sid" jdbcType="INTEGER" />
		<result column="key" property="key" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		*
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_config
		where sid = #{sid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_config
		where sid = #{sid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.wangfj.back.entity.po.SysConfig">
		insert into sys_config (sid, key, value
		)
		values (#{sid,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR},
		#{value,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.wangfj.back.entity.po.SysConfig">
		insert into sys_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				sid,
			</if>
			<if test="key != null">
				key,
			</if>
			<if test="value != null">
				value,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sid != null">
				#{sid,jdbcType=INTEGER},
			</if>
			<if test="key != null">
				#{key,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				#{value,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wangfj.back.entity.po.SysConfig">
		update sys_config
		<set>
			<if test="key != null">
				key = #{key,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				value = #{value,jdbcType=INTEGER},
			</if>
		</set>
		where sid = #{sid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wangfj.back.entity.po.SysConfig">
		update sys_config
		set key = #{key,jdbcType=VARCHAR},
		value = #{value,jdbcType=INTEGER}
		where sid = #{sid,jdbcType=VARCHAR}
	</update>
	
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_config
	</select>
	
	<select id="selectByKeys" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_config
		<where>
            <foreach item="item" index="index" collection="list" open=" "
                     separator="or" close=" ">
                key = #{item}
            </foreach>
        </where>
	</select>
</mapper>