@charset "utf-8";
.form-inline{float:left;height:34px;width:35%;}
.addChaTable{width:95%;cellpadding:1px;cellspacing:1px;float: left;line-height:10px;}
table td {padding:5px;border-bottom:10px;height:20px;}