<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangfj.wms.persistence.SysParameterTypeMapper" >
  <resultMap id="SysParameterTypeResultMap" type="com.wangfj.wms.domain.entity.SysParameterType" >
    <id column="sid" property="sid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sid, code, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="SysParameterTypeResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_parameter_type
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <select id="selectByCode" resultMap="SysParameterTypeResultMap" parameterType="string" >
    select 
    <include refid="Base_Column_List" />
    from sys_parameter_type
    <where>
    	<if test="_parameter != null">
    	code like "%"#{_parameter,jdbcType=VARCHAR}"%"
    	</if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_parameter_type
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangfj.wms.domain.entity.SysParameterType" >
    insert into sys_parameter_type (sid, code, type
      )
    values (#{sid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangfj.wms.domain.entity.SysParameterType" >
    insert into sys_parameter_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangfj.wms.domain.entity.SysParameterType" >
    update sys_parameter_type
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangfj.wms.domain.entity.SysParameterType" >
    update sys_parameter_type
    set code = #{code,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
</mapper>