<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <description>搜索配置</description>

    <bean id="zkClientFactory" class="com.wfj.search.utils.zookeeper.CuratorClientFactory">
        <constructor-arg name="connectString" value="${search.zkAddresses}"/>
    </bean>
    <bean id="zkClient" factory-bean="zkClientFactory"
          factory-method="createClient" destroy-method="close" init-method="start"/>
    <bean id="springWebMvcServiceProvider" class="com.wfj.search.utils.zookeeper.discovery.SpringWebMvcServiceProvider">
        <constructor-arg name="zkClient" ref="zkClient"/>
        <constructor-arg name="basePath" value="${search.discovery.basePath}"/>
    </bean>

    <bean id="privateRsaKeyProvider" class="com.wangfj.search.utils.PrivateRsaKeyProvider">
        <property name="privateKeyFileLocation" value="classpath:rsaKey"/>
    </bean>

    <bean id="rsa" class="com.wangfj.search.utils.RsaResource">
        <property name="resourceLoader">
            <bean class="org.springframework.core.io.DefaultResourceLoader"/>
        </property>
    </bean>

    <bean id="privateSignatureHandler"
          class="com.wfj.platform.util.signature.handler.PrivateSignatureHandler"
          p:caller="${caller}"/>

    <bean id="intervalConfig" class="com.wangfj.search.utils.IntervalConfig"
          p:interval_path="${interval_path}" p:interval_read="${interval_read}"
          p:interval_create="${interval_create}" p:interval_update="${interval_update}"
          p:interval_destroy="${interval_destroy}" p:intervalDetail_list="${intervalDetail_list}"
          p:intervalDetail_create="${intervalDetail_create}" p:intervalDetail_update="${intervalDetail_update}"
          p:intervalDetail_destroy="${intervalDetail_destroy}" p:channelList="${channelList}"
          p:doSelected="${doSelected}"/>

    <bean id="brandStickConfig" class="com.wangfj.search.utils.BrandStickConfig"
          p:brand_path="${brand_path}" p:brand_list="${brand_list}"
          p:brand_read="${brand_read}" p:brand_create="${brand_create}"
          p:brand_destroy="${brand_destroy}"/>

    <bean id="sortListBoxConfig" class="com.wangfj.search.utils.SortListBoxConfig"
          p:sortList_path="${SortList_path}" p:sortList_SortListRetrieve="${SortList_SortListRetrieve}"
          p:sortList_SortListCreate="${SortList_SortListCreate}" p:sortList_SortListSelect="${SortList_SortListSelect}"
          p:sortList_SortListDestory="${SortList_SortListDestory}"/>

    <bean id="shoppeConfig" class="com.wangfj.search.utils.ShoppeConfig"
          p:shoppe_path="${shoppe_path}" p:brandUpdate="${brandUpdate}"
          p:freshIndex="${freshIndex}" p:itemIndex="${itemIndex}"
          p:freshERPIndex="${freshERPIndex}" p:updateItemByParam="${updateItemByParam}"/>

    <bean id="blackListConfig" class="com.wangfj.search.utils.BlackListConfig"
          p:black_path="${black_path}" p:read="${read}"
          p:create="${create}" p:delete="${delete}"/>

    <bean id="weightBoostConfig" class="com.wangfj.search.utils.WeightBoostConfig"
          p:weight_path="${weight_path}" p:weight_read="${weight_read}"
          p:weight_save="${weight_save}" p:weight_delete="${weight_delete}"/>

    <bean id="hotWordConfig" class="com.wangfj.search.utils.HotWordConfig"
          p:hot_word_path="${hot_word_path}" p:hot_word_read="${hot_word_read}"
          p:hot_word_create="${hot_word_create}" p:hot_word_update="${hot_word_update}"
          p:hot_word_destroy="${hot_word_destroy}" p:hot_word_enabled="${hot_word_enabled}"
          p:hot_word_disabled="${hot_word_disabled}" p:hot_word_site="${hot_word_site}"
          p:hot_word_channel="${hot_word_channel}"/>

    <bean id="onlineIndexConfig" class="com.wangfj.search.utils.OnlineIndexConfig"
          p:refreshByBrand="${refreshByBrand}" p:removeByBrand="${removeByBrand}"
          p:refreshBySPU="${refreshBySPU}" p:removeBySPU="${removeBySPU}"
          p:refreshBySKU="${refreshBySKU}" p:removeBySKU="${removeBySKU}"
          p:refreshItem="${refreshItem}" p:removeItem="${removeItem}"
          p:refreshByCategory="${refreshByCategory}" p:fullyIndex="${fullyIndex}"
          p:onlinePath="${onlinePath}"/>

    <bean id="gpConfig" class="com.wangfj.search.utils.GpConfig"
            p:gpUrlTemplate="${gpUrlTemplate}" p:gpPath="${gpPath}"
            p:gpAdd="${gpAdd}" p:gpGetList="${gpGetList}"
            p:gpConfirm="${gpConfirm}"/>

</beans>